<!DOCTYPE html>
<html>
<head>
  <%- include('partials/html_head') %>
</head>
<body>
<div data-role="page">
  <%- include('partials/header') %>
  <div data-role="content" class="jqm-content" style="text-align:center;">
    <h4>Welcome to the Developers page.</h4>
    <ul data-role="listview" data-inset="true">
    </ul>
  </div>
  <%- include('partials/footer') %>
</div>
</body>
</html>
